:host {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

::content .list-title {
  font-size: 0.9em;
  font-weight: 500;
  display: block;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 1;
  overflow: hidden;
  color: #999;
}

::content matrix-list-item:not(:last-child):after  {
  height: 1px;
  background: #E5E5E5;
  margin-left: 48px;
  width: 100%;
  display: block;
  content: ""
}