:host {
  display: block;
  width: 100%;
  overflow: hidden;
  color: #5C5959;
  font-size: 0.8rem;
  font-weight: 400;
}

.matrix-list-item {
  padding: 5px 15px 5px 0;

  .list-item-icon {
    height: 48px;
    width: 48px;
    min-width: 48px;

    core-icon {
      height: 24px;
      width: 24px;
      color: #999;
    }
  }

  .list-item-title {
    line-height: 1;
    overflow: hidden;
    margin-bottom: 3px;
  }
}

