:host {
  display: block;
  box-sizing: border-box;
  background: white;
}

:host([naked]) {
  matrix-toolbar {
    display: none!important;
  }
}

:host([fullsize]) {
  height: 100%;
  width: 100%;
}

:host([no-ripple]) {
  paper-ripple {
    display: none!important;
  }
}

paper-shadow {
  background-color: rgba(0,0,0,0);
  height: 100%;
  width: 100%;
}